<section class="w-1/2 mx-auto bg-gray-50 p-4 rounded border shadow">
  <h1 class="text-center text-green-600 my-2 text-5xl">
    {{ "Forgot.forgotPassword" | translate }}
  </h1>

  @if (step() === 1 ) {
  <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
    <div class="my-4">
      @let emailControl = verifyEmail.get('email') ;
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ "Forgot.email" | translate }}</label
      >
      <input
        type="email"
        formControlName="email"
        id="email"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />

      @if (emailControl?.errors && emailControl?.touched) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (emailControl?.getError('required')) {

            <li>Email is Required</li>

            } @else if (emailControl?.getError('email')) {

            <li>Enter Valid Email</li>

            }
          </ul>
        </div>
      </div>

      }
    </div>

    <button
      [disabled]="verifyEmail.invalid || isLoding()"
      type="submit"
      class="btn-main mt-3"
    >
      {{ "Forgot.verifyEmail" | translate }} @if (isLoding()) {
      <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>

    <!-- @if (msgErorr()) {
    <p class="bg-red-500 text-white px-2 py-4 border">{{ msgErorr() }}</p>
    } @else if (success()) {
    <p class="bg-green-400 text-white px-2 py-4 border">
      {{ success() }} 
    </p>
    } -->

    @if (msgErorr()) {
    <p class="bg-red-500 text-white px-2 py-4 border">{{ msgErorr() }}</p>
    } @else if (success()) {
    <p class="bg-green-400 text-white px-2 py-4 border">
      {{ success() }}
    </p>
    }
  </form>
  } @else if (step() === 2 ) {
  <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
    <div class="my-4">
      @let verifyCodeControl = verifyCode.get('resetCode') ;
      <label
        for="resetCode"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ "Forgot.resetCode" | translate }}</label
      >
      <input
        type="text"
        formControlName="resetCode"
        id="resetCode"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />

      @if (verifyCodeControl?.errors && verifyCodeControl?.touched) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (verifyCodeControl?.getError('required')) {

            <li>Code is Required</li>

            } @else if (verifyCodeControl?.getError('email')) {

            <li>Enter Valid Code</li>

            }
          </ul>
        </div>
      </div>

      }
    </div>

    <button
      [disabled]="verifyCode.invalid || isLoding()"
      type="submit"
      class="btn-main mt-3"
    >
      {{ "Forgot.verifyCode" | translate }} @if (isLoding()) {
      <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>

    @if (msgErorr()) {
    <p class="bg-red-500 text-white px-2 py-4 border">{{ msgErorr() }}</p>
    } @else if (success()) {
    <p class="bg-green-400 text-white px-2 py-4 border">
      {{ success() }}
    </p>
    }
  </form>
  }@else if (step() === 3) {

  <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
    <div class="my-4">
      @let resetemailControl = resetPassword.get('email') ;
      <label
        for="resetemail"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ "Forgot.email" | translate }}</label
      >
      <input
        type="email"
        formControlName="email"
        id="resetemail"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />

      @if (resetemailControl?.errors && resetemailControl?.touched) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (resetemailControl?.getError('required')) {

            <li>Email is Required</li>

            } @else if (resetemailControl?.getError('email')) {

            <li>Enter Valid Email</li>

            }
          </ul>
        </div>
      </div>

      }
    </div>

    <!-- <div class="mb-4">
      <label
        for="newPassword"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >newPassword</label
      >
      <input
        type="text"
        formControlName="newPassword"
        id="newPassword"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />

      @if (resetPassword.get('newPassword')?.errors &&
      resetPassword.get('newPassword')?.touched) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (resetPassword.get('newPassword')?.getError('required')) {

            <li>password is Required</li>

            } @else if (resetPassword.get('newPassword')?.getError('pattern')) {

            <li>Enter Valid newPassword</li>

            }
          </ul>
        </div>
      </div>

      }
    </div> -->

    <div class="mb-4">
      <label
        for="newPassword"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ "Forgot.newPassword" | translate }}</label
      >
      <input
        type="password"
        formControlName="newPassword"
        id="newPassword"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />

      @if (resetPassword.get('newPassword')?.errors &&
      resetPassword.get('newPassword')?.touched) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (resetPassword.get('newPassword')?.getError('required')) {

            <li>newPassword is Required</li>

            } @else if (resetPassword.get('newPassword')?.getError('pattern')) {

            <li>Enter Valid newPassword</li>

            }
          </ul>
        </div>
      </div>

      }
    </div>

    <button
      type="submit"
      class="btn-main mt-3"
      [disabled]="resetPassword.invalid || isLoding()"
    >
      {{ "Forgot.resetPassword" | translate }} @if (isLoding() ) {
      <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>

    @if (msgErorr()) {
    <p class="bg-red-500 text-white px-2 py-4 border">{{ msgErorr() }}</p>
    } @else if (success()) {
    <p class="bg-green-400 text-white px-2 py-4 border">
      {{ success() }}
    </p>
    }
  </form>

  }
</section>
