<section class="w-1/2 mx-auto main-sec">
  <h1 class="text-4xl text-center text-green-600">
    {{ "register.register" | translate }}
  </h1>

  <form [formGroup]="registerForm" (ngSubmit)="sumbitForm()">
    <div class="mb-4">
      @let nameControl = registerForm.get('name');
      <label
        for="name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ "register.name" | translate }}</label
      >
      <input
        type="text"
        formControlName="name"
        id="name"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />

      @if (nameControl?.errors && nameControl?.touched) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (nameControl?.getError('required')) {
            <li>Name is required</li>
            }@else if (nameControl?.getError('minlength')) {
            <li>Name Should be more than or equal 3 chars</li>
            } @else if (nameControl?.getError('maxlength')) {
            <li>Name Should be less than or equal 20 chars</li>
            }
          </ul>
        </div>
      </div>

      }
    </div>

    <div class="mb-4">
      @let emailControl = registerForm.get('email') ;
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ "Forgot.email" | translate }}</label
      >
      <input
        type="email"
        formControlName="email"
        id="email"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />

      @if (emailControl?.errors && emailControl?.touched) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (emailControl?.getError('required')) {

            <li>Email is Required</li>

            } @else if (emailControl?.getError('email')) {

            <li>Enter Valid Email</li>

            }
          </ul>
        </div>
      </div>

      }
    </div>

    <div class="mb-4">
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ "register.password" | translate }}</label
      >
      <input
        type="password"
        formControlName="password"
        id="password"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />

      @if (registerForm.get('password')?.errors &&
      registerForm.get('password')?.touched) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (registerForm.get('password')?.getError('required')) {

            <li>password is Required</li>

            } @else if (registerForm.get('password')?.getError('pattern')) {

            <li>Enter Valid password</li>

            }
          </ul>
        </div>
      </div>

      }
    </div>

    <div class="mb-4">
      <label
        for="rePassword"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ "Forgot.newPassword" | translate }}</label
      >
      <input
        type="password"
        formControlName="rePassword"
        id="rePassword"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />

      @if(registerForm.getError('mismatch') &&
      registerForm.get('rePassword')?.touched ){
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            <li>Password confirmation is incorrect</li>
          </ul>
        </div>
      </div>
      }

      <!-- @if (registerForm.get('rePassword')?.getError('required') &&
      registerForm.get('rePassword')?.touched ) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            <li>Register is Required</li>
          </ul>
        </div>
      </div>

      } -->
    </div>

    <div class="mb-4">
      @let phonControl = registerForm.get('phone');
      <label
        for="phone"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ "register.phone" | translate }}</label
      >
      <input
        type="tel"
        formControlName="phone"
        id="phone"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />

      @if (phonControl?.errors && phonControl?.touched) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (phonControl?.getError('required')) {

            <li>phone is Required</li>

            } @else if (phonControl?.getError('pattern')) {

            <li>Enter Valid phone</li>

            }
          </ul>
        </div>
      </div>

      }
    </div>

    <button [disabled]="isLoding()" type="submit" class="btn-main mt-2">
      {{ "register.singUP" | translate }} @if (isLoding()) {
      <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>
    @if (msgErorr()) {
    <p class="bg-red-500 text-white px-2 py-4 border">{{ msgErorr() }}</p>
    } @else if (success()) {
    <p class="bg-green-400 text-white px-2 py-4 border">
      {{ success() }}
    </p>
    }
  </form>
</section>
