<nav
  class="!bg-gray-100 border-gray-200 dark:bg-gray-900 fixed top-0 left-0 right-0 z-[60]"
>
  <div
    class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto px-4 py-2"
  >
    <a
      routerLink="/home"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img src="/images/freshcart-logo.svg" alt="freshcart" />
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">{{ "navbar.openMenu" | translate }}</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="hidden w-full md:flex flex-grow md:w-auto" id="navbar-default">
      @if (isLogin()) {

      <ul
        class="capitalize flex flex-col items-center p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-2 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            routerLink="/home"
            routerLinkActive="bg-green-600 text-white font-semibold rounded-lg"
            class="block py-2 md:px-0 lg:px-1 xl:px-3 text-gray-700 rounded-lg"
            aria-current="page"
            >{{ "navbar.home" | translate }}</a
          >
        </li>
        <li>
          <a
            routerLink="/products"
            routerLinkActive="bg-green-600 text-white font-semibold rounded-lg"
            class="block py-2 md:px-0 lg:px-1 xl:px-3 text-gray-700 rounded-lg"
            aria-current="page"
            >{{ "navbar.products" | translate }}</a
          >
        </li>

        <li>
          <a
            routerLink="/categories"
            routerLinkActive="bg-green-600 text-white font-semibold rounded-lg"
            class="block py-2 md:px-0 lg:px-1 xl:px-3 text-gray-700 rounded-lg"
            aria-current="page"
            >{{ "navbar.categories" | translate }}</a
          >
        </li>
        <li>
          <a
            routerLink="/wishList"
            routerLinkActive="bg-green-600 text-white font-semibold rounded-lg"
            class="block py-2 md:px-0 lg:px-1 xl:px-3 text-gray-700 rounded-lg"
            aria-current="page"
            >{{ "navbar.wishList" | translate }}</a
          >
        </li>
        <li>
          <a
            routerLink="/brands"
            routerLinkActive="bg-green-600 text-white  font-semibold rounded-lg"
            class="block py-2 md:px-0 lg:px-1 xl:px-3 text-gray-700 rounded-lg"
            aria-current="page"
            >{{ "navbar.brands" | translate }}</a
          >
        </li>
      </ul>

      }

      <ul
        class="ms-auto items-center capitalize flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-2 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <button
            id="dropdownNavbarLink"
            data-dropdown-toggle="dropdownNavbar"
            class="flex items-center justify-between w-full py-2 md:px-0 lg:px-1 xl:px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-green-600 md:p-0 md:w-auto dark:text-white md:dark:hover:text-text-green-600 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
          >
            {{ "navbar.lang" | translate }}
            <svg
              class="w-2.5 h-2.5 ms-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"
              />
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div
            id="dropdownNavbar"
            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600"
          >
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-400"
              aria-labelledby="dropdownLargeButton"
            >
              <li>
                <a
                  [class.hidden]="currentlang('en')"
                  role="button"
                  (click)="change('en')"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >EN</a
                >
              </li>
              <li>
                <a
                  role="button"
                  [class.hidden]="currentlang('ar')"
                  (click)="change('ar')"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >AR</a
                >
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a
            href="#"
            class="block py-2 md:px-0 lg:px-1 xl:px-3 text-gray-700 rounded-lg"
            aria-current="page"
          >
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="block py-2 md:px-0 lg:px-1 xl:px-3 text-gray-700 rounded-lg"
            aria-current="page"
          >
            <i class="fab fa-facebook"></i>
          </a>
        </li>

        <li>
          <a
            href="#"
            class="block py-2 md:px-0 lg:px-1 xl:px-3 text-gray-700 rounded-lg"
            aria-current="page"
          >
            <i class="fab fa-twitter"></i>
          </a>
        </li>

        <li>
          <a
            href="#"
            class="block py-2 md:px-0 lg:px-1 xl:px-3 text-gray-700 rounded-lg"
            aria-current="page"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>

        @if (!isLogin()) {

        <li>
          <a
            routerLink="/login"
            routerLinkActive="bg-green-600 text-white  font-semibold rounded-lg"
            class="block py-2 md:px-0 lg:px-1 xl:px-3 text-gray-700 rounded-lg"
            aria-current="page"
            >{{ "navbar.login" | translate }}</a
          >
        </li>
        <li>
          <a
            routerLink="/register"
            routerLinkActive="bg-green-600 text-white  font-semibold rounded-lg "
            class="block py-2 md:px-0 lg:px-1 xl:px-3 text-gray-700 rounded-lg"
            aria-current="page"
            >{{ "navbar.register" | translate }}</a
          >
        </li>

        }@else {
        <li>
          <a
            routerLink="/allorders"
            routerLinkActive="text-green-600"
            class="block py-2 px-3 text-gray-700 rounded-sm md:bg-transparent transition-all font-bold relative"
            aria-current="page"
            ><i class="fa-solid fa-truck-fast text-[25px]"></i>

            <span
              class="bg-green-600 text-white text-xs font-medium me-2 px-2.5 py-0.5 rounded-lg absolute top-0 left-0"
            >
              {{ OrdersNumber }}
            </span>
          </a>
        </li>

        <li>
          <a
            routerLink="/cart"
            routerLinkActive="text-green-600  font-semibold rounded-lg"
            class="block py-2 md:px-0 lg:px-1 xl:px-3 text-gray-700 text-3xl rounded-lg relative"
            aria-current="page"
          >
            <i class="fas fa-cart-shopping"></i>
            <span
              class="text-white rounded-md p-1 text-xs bg-green-600 absolute top-0 start-0"
              >{{ countNumder() }}</span
            >
          </a>
        </li>

        <li>
          <a
            (click)="logOut()"
            role="button"
            class="block py-2 text-xs lg:text-base md:px-1 px-3 rounded-lg border border-green-600 capitalize hover:text-white text-green-600 hover:bg-green-600"
            aria-current="page"
            >{{ "navbar.signout" | translate }}</a
          >
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
